.photo-frame-container {
    position: relative;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0,.14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    display: inline-block;
    border-radius: 2px 2px;
    line-height: 0;

    .like-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5rem;
        background: rgba(255, 250, 250, 0.6);
        border-top-right-radius: 5px;
    }      
}